p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: red;
}

.teste{
    background-color: pink;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5px;
}